*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(54, 54, 128);
}

img {
    max-width: 100%;
}

.img-login {
    background-color: rgb(143, 143, 241);
    padding: 2em 0;
    width: 350px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(254, 254, 255);
    width: 700px;
    border-radius: 1em; 
    overflow: hidden;
}

.content {
    text-align: center;
    margin: 1em 0;
}

.content p {
    margin-top: 1em;
}

.formulario {
    padding: 2em;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: .3em;
    margin-top: .3em;
}

.campo input {
    padding: .9em;
    border-radius: .5em;
    border: 1px solid rgb(216, 216, 218);
}

.campo label {
    font-size: .9em;
    font-weight: bold;
}

.lembrar-esqueci-senha {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.lembrar-esqueci-senha label {
    font-size: .8em;
    font-weight: bold;
}

.esqueci-senha {
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.esqueci-senha a {
    font-size: .975em;
    color: rgb(17, 35, 174);
    text-decoration: none;
}

.esqueci-senha a:hover {
    color: rgb(5, 5, 31);
    text-decoration: underline;
}

.btn .btn-entrar {
    width: 100%;
    padding: .8em;
    border-radius: .5em;
    border: none;
    background-color: rgb(106, 106, 245);
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1em;
}

.btn button:hover {
    background-color: rgba(106, 106, 245, 0.759);
} 

.btn-inscreva-se {
    text-align: center;
}

.inscreva-se {
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 600;
}

.inscreva-se a {
    font-size: .975em;
    color: rgb(17, 35, 174);
    text-decoration: none;
}

.inscreva-se a:hover {
    color: rgb(5, 5, 31);
    text-decoration: underline;
}


@media (max-width: 600px) {
    main {
        flex-direction: column;
        max-width: 360px;
        padding-bottom: 2em;
    }

    .img-login {
        width: 100%;
        max-height: 300px;
        text-align: center;
    }

    .img-login img {
        max-height: 200px;
    }

    .content {
        margin-top: 0;
    }

    .content p {
        margin-top: .3em;
    }

   
    .login p {
        margin-bottom: 1em;
    }
}